/*------------------------------------------------------------------
[29. Print]
*/


@media print {
    
      div.page
      {
        page-break-after: always;
        page-break-inside: avoid;
      }
  
      body {
        max-height: 100% !important;
      }

      .page-container .page-content-wrapper {
          min-height: auto !important;
          position: relative !important;
      }


      .horizontal-app-menu.fixed-header .page-container{
         overflow: visible !important;
         overflow-x: visible !important;
      }

      .body,
      .header,  
      .page-sidebar,
      .quickview-wrapper,
      .overlay {
        display: none !important;
      }
      
      .brand {
        display: none !important;
      }

      .brand {
        display: none !important;
      }

      .footer , .navbar {
        display: none !important;
      }

      .table-responsive ,
      .table-invoice { 
          border-style: none;
      }

      .card.card-default{ 
          border: none;
      }

    
      
}


@media screen {

  .break{
    page-break-before: always;
  }

}